$title: #29282d;
$default: #8d8d8d;
$accent: #fe3e57;

%quicksand-400 {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 400;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}