@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: $title;
    padding-bottom: 0 2px 1px;
    transition: all .5s;
    @extend %roboto-400;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }

  &__list-link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %roboto-700;
  }
}


.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 25px;
  }

  &__num {
    position: absolute;
    top: -9px;
    right: -14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    background-color: $accent;
    color: #fff;
  }
}


.footer {
  background-color: $bg;
}

.footer-top {
  display: flex;
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;

  &__contact {
    max-width: 250px;
    width: 100%;
    margin-right: 50px;
  }

  &__nav {
    max-width: 170px;
    width: 100%;
    margin-right: 30px;
  }

  &__logo {
    display: block;
    margin-bottom: 33px;
  }

  &__adress,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 14px;
  }

  &__social-list {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  &__social-item+.footer-top__social-item {
    padding-left: 18px;
  }

  &__link {
    transition: all .5s;
    margin-bottom: 14px;
    display: block;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    color: $title;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 1;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__item-form {
    max-width: 470px;
    width: 100%;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    max-width: 332px;
    margin-right: 10px;
    width: 100%;
    padding: 12px 10px 12px 15px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
  }

  &::placeholder {
    color: $default;
    font-style: 16px;
  }

  &__form-btn {
    @extend %btn;
    border: none;
    cursor: pointer;
  }

}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__accept-img {
    display: inline;
    margin-left: 25px;
    vertical-align: middle;
  }
}

.top-slider {
  background-image: url('../images/decor/top-slider-bg.png');
  padding-top: 65px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  padding: 65px 0 45px;

  &__container {
    max-width: 1560px;
  }

  &__content {
    padding-top: 125px;
    padding-left: 175px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__title {
    max-width: 670px;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    @extend %roboto-700;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }

  &__link {
    @extend %btn;
    padding: 14px 36px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;

    li {
      padding: 0 5px;

      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid transparent;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        button {
          border-color: $accent;

          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}

.categories-info {
  padding: 120px 0;
  background-image: url('../images/decor/categories-left-bg.png');
  background-repeat: no-repeat;
  background-position: center left;

  &__inner {
    background-image: url('../images/decor/categories-right-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  &::before {
    background-image: url(../images/decor/info-before-bg.svg);
    top: -40px;
    left: -45px;
    width: 120px;
    height: 121px;
  }

  &::after {
    background-image: url(../images/decor/info-after-bg.svg);
    bottom: -23px;
    right: -24px;
    width: 65px;
    height: 52px;
  }

  &__item {
    padding: 60px 30px;
    width: 370px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    background-color: #fff;
  }

  &__item-title {
    margin: 35px 0 10px;
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
  }
}

.categories {
  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 35px;
    padding-left: 40px;

    &:nth-child(1) {
      grid-row: span 2;

      .categories__item-subtitle,
      .categories__link:hover {
        color: #5800e4;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .categories__item-subtitle,
      .categories__link:hover {
        color: $accent;

      }
    }

    &:nth-child(3) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #ffb534;
      }
    }

    &:nth-child(4) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #34c3ff;
      }
    }
  }

  &__item-subtitle {
    margin-bottom: 5px;
  }

  &__item-title {
    font-size: 22px;
    color: $title;
    margin-bottom: 16px;
  }

  &__link {
    text-transform: uppercase;
    color: $title;
    @extend %roboto-400;
    transition: all .3s;
  }
}

.video-fashion {
  padding: 125px 0;
  background-color: $bg;
  background-image: url('../images/decor/pattern.svg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &__inner {
    display: flex;
  }

  &__popup {
    margin-right: 60px;
    max-width: 530px;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__content {
    max-width: 570px;
  }

  &__subtitle {
    padding-top: 75px;
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__title {
    text-align: left;
  }

  &__text {
    margin-bottom: 55px;
  }

  &__link {
    @extend %btn;
  }
}


.product {
  padding: 105px 0 120px;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }

  &__link {
    display: inline-block;
    padding: 14px 27px;
    margin-top: 55px;
    color: $title;
    border: 1px solid $accent;
    text-transform: uppercase;
  }
}

.product-item {
  max-width: 370px;
  text-align: center;

  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: #fff;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
    transition: all .3s;
  }

  &__link--line::before,
  &__link--line::after {
    content: '';
    position: absolute;
    background-color: #ececec;
    width: 1px;
    height: 30px;
    top: 10px;
  }

  &__link--line::before {
    left: 70px;
  }

  &__link--line::after {
    right: 70px;
  }

  &__link {
    path {
      transition: all .3s;
    }
  }

  &__link:hover {
    path {
      fill: $accent;
    }
  }

  &__images {
    object-fit: cover;
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__title {
    color: $title;
    padding: 15px 0 20px;
  }

  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }

  &__new-price {
    padding: 0 12px;
    color: $title;
  }

  &__old-price {
    padding: 0 12px;
    text-decoration: line-through;
  }
  &--sale {
    .product-item__img-box::before {
      content: 'SALE';
      position: absolute;
      @extend %btn;
      top: 25px;
      left: 25px;
      line-height: 1;
    }
  }

  .star {
    margin: 0 auto; 
  }

}