.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: $title;
    padding-bottom: 0 2px 1px;
    transition: all .5s;
    @extend %roboto-400;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }

  &__list-link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 25px;
  }

  &__num {
    position: absolute;
    top: -9px;
    right: -14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    background-color: $accent;
    color: #fff;
  }
}
