.blog {
  padding: 50px 0 160px;
  background-image: url('../images/blog-bg.svg');
  background-repeat: no-repeat;
  background-position: center center;

  &__items {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url('../images/decor/blog-decor.svg');
      top: -25px;
      right: -20px;
      width: 126px;
      height: 53px;
    }
  }

  &__item {
    max-width: 370px;
    width: 100%;
    border: 1px solid #ececec;
    transition: all .3s;

    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      border: 1px solid transparent;

      .blog__item-link {
        color: $accent;
      }
    }
  }

  &__item-imglink {
    display: block;

    img {
      height: 288px;
      object-fit: cover;
    }
  }

  &__item-box {
    padding: 30px 40px;
  }

  &__item-title {
    color: $title;
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__item-link {
    position: relative;
    transition: all .3s;
  }

  &__item-link::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -14px;
    width: 10px;
    height: 8px;
    background-image: url('../images/icons/arrow.svg');
  }
}

.blog-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__author,
  &__date {
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 4px;
    }
  }

  &__author::before {
    background-image: url('../images/icons/user-grey.svg');
  }

  &__date::before {
    background-image: url('../images/icons/time.svg');
  }

}
